@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer components {
  .make-com-dark{
      @apply dark:bg-gray-800 dark:text-white text-zinc-800 bg-slate-100;
  }
  .make-body-dark{
      @apply dark:bg-slate-700 dark:text-white text-black;
  }
}
body {
  @apply  dark:bg-gray-500 dark:text-white bg-slate-100 text-black rounded-md pt-4;
}
*{

}
.optionStyle{
  /* @apply my-4 w-full p-2; */
} 
textarea {
  resize: none;
}
.active{
  @apply bg-green-600 cursor-pointer;
}
.not-active{
  @apply bg-red-600 cursor-pointer animate-pulse;
}
/* ---------------question styling------------- */
#question ul li{
  @apply list-disc ml-7
}
#question ol li{
  @apply list-decimal ml-7
}

#question img{
  @apply w-[20rem] min-w-[10rem] rounded-md max-h-[20rem]
}
#question a{
  @apply text-red-900 font-bold
}

#question blockquote{
  @apply border-l-2 px-1
}

#question pre{
  @apply bg-black text-white p-2 rounded-md my-1
}

#question code{
  @apply bg-black text-white p-2 rounded-md my-1
}

#question h1{
  @apply text-2xl
}
#question h2{
  @apply text-xl
}
#question h3{
  @apply text-lg
}
#question h4{
  @apply text-base
}
#question h5{
  @apply text-sm
}
#question h6{
  @apply text-xs
}
/* -------------------blogpost styling------------------ */
.blogpost{
  @apply list-disc px-1
}
.blogpost ul li{
 @apply list-disc ml-6
}
.blogpost ol li{
 @apply list-decimal ml-6
}
.blogpost a{
  @apply text-red-900 font-bold
}
.blogpost blockquote{
  @apply border-l-2 px-2
}

.blogpost-main-image{
  @apply w-full my-3 rounded
}
.blogpost table, th, td{
  @apply border p-2;
}

.blogpost h1{
  @apply text-2xl
}
.blogpost h2{
  @apply text-xl
}
.blogpost h3{
  @apply text-lg
}
.blogpost h4{
  @apply text-base
}
.blogpost h5{
  @apply text-sm
}
.blogpost h6{
  @apply text-xs
}

/* fill image */
.fill-image{
  @apply w-full h-full fixed top-0 right-0 z-50
}


/* -------------wait for deleting -------- */
.deleted{
  @apply cursor-wait;
}


/* -----------avatar or profile styling------------- */
#avatar-div:hover #profileModal{
display: block;
}
#profileModal{
  display: none;
}



/* ------------------dropdown css------------------  */
.dropbtn {
  @apply w-fit p-1 cursor-pointer mx-2
}
.dropdown {
  display: block;
  position: relative;
  /* to make full width dropdown don't use posion relative */
  @apply hover:bg-white hover:text-black
}

.dropdown-content {
  display: none;
 
}

.dropdown:hover .dropdown-content {
  @apply flex flex-col justify-center  absolute top-7  text-white w-fit  bg-slate-700 z-50 ml-0 mt-1
  /* @apply flex flex-col justify-center absolute right-0 w-full  text-white  bg-slate-700 z-50 rounded-lg */ 
  /* the above code make full width dropdown */

}





